@model List<Doctor>
@{
    Layout = "_AdminLayout";
}
<div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header py-1 d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Doctors</h5>
                        <a asp-controller="Doctor" asp-action="CreateDoctor" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="table-secondary">
                                    <tr>
                                        <th>Doctor Id</th>
                                        <th>Doctor Name</th>
                                        <th>Url</th>
                                        <th>Department</th>
                                        <th style="width: 90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var doc in Model){
                                        <tr>
                                        <td>@doc.Id</td>
                                        <td>@doc.DoctorName</td>
                                        <td>@doc.PicOfDoc</td>
                                        <td>@doc.Department</td>
                                        <td>
                                            <a asp-controller="Doctor" asp-action="EditDoctor" asp-route-id="@doc.Id" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a asp-controller="Doctor" asp-action="DeleteDoctor" asp-route-id="@doc.Id" class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>   
                                    }      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>